//Primary colors :

$primary-900: #051831;
$primary-700: #0E4186;
$primary-500: #1977F3;
$primary-300: #81B4F8;
$primary-100: #E8F1FE;

//Secondary colors :

$secondary-900:#31051B;
$secondary-700:#860E4A;
$secondary-500:#F31986;
$secondary-300:#F881BC;
$secondary-100:#FEE8F3;

//Neutral colors :

$gray-900: #252525;
$gray-700: #505050;
$gray-500: #B5B5B5;
$gray-300: #E1E1E1;
$gray-100: #F9F9F9;


//Success colors :

$success-50: #EDE2FC;
$success-300: #07E2A4;
$success-500: #05AC7D;
$success-700: #047857;
$success-900: #035D44;

//Warning colors :

$warning-50: #EDE2FC;
$warning-300: #FC9851;
$warning-500: #DF670C;
$warning-700: #B45309;
$warning-900: #8D4107;

//Error colors :

$error-50: #F7C8C8;
$error-300: #E96C6C;
$error-500: #DE2222;
$error-700: #B91C1C;
$error-900: #921616;


//  login and sign up costomized sass
//  login and sign up costomized sass

.login {
    display: flex;
    height: 100vh;
    align-items: center;
}    
#logincontainer {
    border-radius: 1rem;
}    

form {
    h1 {
        color: $primary-900;
    }
    label {
        color: $primary-900;
    }
}

#username , #password {
    height: 50px;
}

#username:focus , #password:focus {
    outline: none;
    border: 1px solid $primary-500;
}
#loginbutton {
    background-color: $primary-700;
    border: none;
    transition: 0.15s;
    height: 50px;
    font-weight: 450;
}
#loginbutton:hover {
    background-color:  $primary-900;
}

//  user dashboard costomized sass
//  user dashboard costomized sass

header {
    top: 0;
    background-color: #fff;
    z-index: 2;
    #header-title {
        color: $primary-700;
    }
    #user {
        #user-icon{
            background-color: $primary-700;
            width: 3rem;
            height: 3rem;
            color: $primary-100;
        }
        #user-info {
            color: $primary-700;
            p {
                font-size: 0.875rem;
            }
        }
        #chevron {
            color: $primary-700;
            a {
                svg {
                    height: 24px;
                    color: $primary-700;
                }
                svg:hover {
                    color: $primary-500;
                }
            }
        }
    }
}
.students-title {
    margin-top: 125px;
    margin-bottom: 125px;
}
.students-title {
    #table-container {
        overflow-x: scroll;
    }
      @media screen and (min-width: 550px) {
        #table-container::-webkit-scrollbar {
            display: none;
          }
    }
    #add-students {
        background-color: $primary-700;
        border: none;
        transition: 0.15s;
        height: 40px;
        font-weight: 450;
    }
    #add-students:hover {
        background-color:  $primary-500;
    }
    #students {
        color: $primary-700;
    }
    h6 {
        color: $primary-700;
    }
    p {
        color: $primary-500;
    }
    table {
        thead {
            background-color: $gray-100;
            color: $primary-700;
        }
        tbody {
            color: $primary-900;
            #editbtn {
                color: $primary-300;
            }
            #editbtn:hover {
                color: $primary-500;
            }
            #trashbtn {
                color: $secondary-700;
            }
            #trashbtn:hover {
                color: $secondary-900;
            }
    
            svg {
                height: 1.25rem;
            }
        }
    }
}

// ------------------modals
// ------------------modals


#modal-Header {
    h2 {
        color: $primary-700;
    }

}
#modal-body {
    label {
        color: $primary-900;
    }

}
#modal-footer {

    #modal-add {
        background-color:  $primary-700 !important;
        border: none;
    }
}
#deleteStudentModal {
    #modal-Header {
        h2 {
            color: $error-700;
        }
    }
    #modal-body {
        label {
            color: $error-900;
        }
    }
    #modal-footer {
        #modal-Delete {
            background-color: $error-900;
            border: none;
        }
        #modal-Delete:hover {
            background-color: $error-700;
        }
    }
}

// ------------------footer
// ------------------footer

footer {
    color: $primary-700

}
// imported bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';


// imported font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    font-family: Roboto , sans-serif !important;
}
